__pycache__/
*.py[cod]
.pytest_cache/
.DS_Store
bin/merge_obs
output/*
!output/zarr_root/
!output/gpu_input_dir/
!output/output_dir/
output/zarr_root/*
output/gpu_input_dir/*
output/output_dir/*
!output/zarr_root/.gitkeep
!output/gpu_input_dir/.gitkeep
!output/output_dir/.gitkeep
input/waveforms/**/*.tmp
*.obsbin
*.cc
*.zarr/
*.egg-info/
build/
dist/
